@import '~/global.less';

.actionButtons {
  line-height: 100%;
  display: flex;

  .actionBtn {
    color: @action-button-color;
    cursor: pointer;
  }

  .actionBtn:hover {
    color: @action-button-hover-color;
  }

  .btnSlice {
    margin: 0 5px;
  }
}